.layout {
  width: 300px;
  margin: 30px auto;
}

#title {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}

.comments-div {
  margin-top: 10px;
}

#comments {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.btn-div {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}
